#
# Global configuration
#

# Valid values: DEV, STAGE, PROD
ENVIRONMENT=DEV

# Developer name
DEVELOPER=YOUR_NAME

# AWS ECR repository 
AWS_ECR_REPOSITORY=ECR_ENDPOINT

# Your github personal access token
GITHUB_ACCESS_TOKEN=YOUR_GITHUB_PERSONAL_TOKEN


#
# App configuration
#

# Flask environment 
FLASK_ENV=development


#
# Database configuration
#

# Database username
POSTGRES_USER=DB_USER

# Database password
POSTGRES_PASSWORD=DB_PASSWORD

# Database db
POSTGRES_DB=DB_NAME

# Database host
# If you need to point it to external database this needs to be changed to the database URL or IP
POSTGRES_HOST=database

# Database port
POSTGRES_PORT=5432

# Database schema
POSTGRES_SCHEMA=DB_SCHEMA


#
# Web configuration
#

# Enables a polling mechanism for local developement via chokidar 
# (which wraps fs.watch, fs.watchFile, and fsevents) so that hot-reloading will work
CHOKIDAR_USEPOLLING=true
